.a_img{
    width: 450px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1.00);
}

#content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}